.col-md-6.col-md-offset-3
  #pics.transitions-enabled
  - @pics.each do |pic|
    .row.box.panel.panel-default
      - if pic.image.attached?
        .col-md-10.col-centered
          = image_tag pic.image, style: "width: 100%; display: block"
          %h2= link_to pic.title, pic
